:root {
  --main-color: #e86a33;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* ****************** */
.heading {
  background-color: #1c6758;
  background-image: url(../images/Group-49.webp);
}
.heading .content .nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.heading .content .nav .icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  direction: rtl;
}
.heading .content .nav .icon span {
  margin: 5px 0;
  width: 40px;
  height: 2px;
  background-color: white;
}
.heading .content .nav .links ul {
  display: flex;
  justify-content: space-evenly;
}
.heading .content .nav .links ul li {
  list-style-type: none;
}
.heading .content .nav .links ul li a {
  text-decoration: none;
  color: white;
}
.heading .content .nav .links ul li a:hover {
  color: var(--main-color);
  transition: 0.5s;
}
.heading .content .body {
  overflow: hidden;
}
.heading .content .body .title {
  padding-top: 200px;
}
.heading .content .body .title h2 {
  color: white;
  font-size: 40px;
}
.heading .content .body .title h2 span {
  color: var(--main-color);
}
.heading .content .body .title p {
  color: #eeeeee80;
  padding: 20px 0;
}
.heading .content .body .title button {
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  color: white;
}
.heading .content .body .title button:hover {
  background-color: white;
  color: var(--main-color);
  transition: 0.5s;
}
/* .heading .content .body:hover .img img{

} */
.heading .content .body .title a {
  padding-left: 30px;
  color: white;
  text-decoration: none;
}
.heading .content .body .title a:hover {
  color: var(--main-color);
  transition: 0.5s;
}
.heading .content .body .img img {
  max-width: 100%;
  transform: translate(1000px);
  animation-name: moveimage;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.heading .content .images {
  padding-bottom: 100px;
  text-align: center;
}
.heading .content .images div {
  margin: 20px 0;
}
@keyframes moveimage {
  to {
    transform: translate(0);
  }
}
/* ****************** */
.first-section .content {
  padding: 100px 20px;
}
.first-section .content .title {
  padding: 0 50px 50px 0;
  color: #1c6758;
}
.first-section .content .title p.span {
  color: green;
  font-weight: bold;
}
.first-section .content .title h2 span {
  color: var(--main-color);
}
.first-section .content .title p.paragraph {
  padding: 20px 0;
}
.first-section .content .title .display {
  width: 50%;
}
.first-section .content .title .display div {
  display: flex;
  justify-content: space-between;
}
.first-section .content .title a {
  color: var(--main-color);
  text-decoration: none;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 7px;
  border-bottom: 3px solid var(--main-color);
}
.first-section .content .title a:hover {
  color: #1c6758;
  border-bottom: 3px solid #1c6758;
  transition: 0.5s;
}
/* ****************** */
.second-section .content .parent {
  margin: 20px 0;
}
.second-section .content .parent div {
  background-color: #eee;
  padding: 20px;
  border-bottom: 2px solid var(--main-color);
}
.second-section .content .parent div:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  border-bottom: 2px solid var(--main-color);
}
.second-section .content .parent div h5 {
  color: #1c6758;
}
.second-section .content .parent div a {
  color: var(--main-color);
  text-decoration: none;
}
/* ****************** */
.third-section {
  padding: 100px 0;
}
.third-section .content .title {
  padding-top: 100px;
  padding-left: 50px;
  color: #1c6758;
}
.third-section .content .title h5 {
  color: #1c6758;
}
.third-section .content .title p.paragraph {
  padding: 15px 0;
}
.third-section .content .title h2 span {
  color: var(--main-color);
}
.third-section .content .title .parent-div {
  padding-left: 20px;
  border-left: 2px solid black;
}
.third-section .content .title .child-div {
  display: flex;
  align-items: center;
}
.third-section .content .title .child-div div {
  padding-left: 20px;
}
/* ****************** */
.forth-section {
  background-color: #1c6758;
  color: white;
}
.forth-section .content {
  padding: 100px 0;
}
.forth-section .content .first {
  padding: 0 30px 0 30px;
}
.forth-section .content .first h2 {
  padding-bottom: 20px;
}
.forth-section .content .first .parent-div {
  padding-bottom: 20px;
}
.forth-section .content .second {
  padding-left: 30px;
}
.forth-section .content .third {
  padding-left: 30px;
}
.forth-section .content .second h2 {
  padding-bottom: 20px;
}
.forth-section .content .third h2 {
  padding-bottom: 20px;
}
/* ****************** */
.fifth-section {
  background-color: #eee;
  background-image: url(../images/Frame-55.webp);
}
.fifth-section .content {
  padding: 100px 20px;
}
.fifth-section .content .first {
  text-align: center;
  padding-bottom: 50px;
}
.fifth-section .content .first p {
  color: #1c6758;
  font-weight: bold;
}
.fifth-section .content .first h2 {
  font-size: 40px;
  font-weight: bold;
}
.fifth-section .content .first h2 span {
  color: var(--main-color);
  font-size: 40px;
}
.fifth-section .content .second {
  margin: 0 20px;
}
.fifth-section .content .second .parent {
  padding: 50px 20px;
  background-color: white;
  width: 100%;
  margin: auto;
  margin: 20px 0;
}
.fifth-section .content .second .parent:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
.fifth-section .content .second .parent h5 {
  color: #02ffcc;
}
.fifth-section .content .second .parent h5 span {
  color: white;
  background-color: var(--main-color);
  padding: 0 5px 5px;
}
.fifth-section .content .second .parent p {
  color: #1c6758;
  padding: 10px 0;
}
.fifth-section .content .second .parent h2 {
  font-size: 40px;
  font-weight: bold;
}
.fifth-section .content .second .parent button {
  background-color: var(--main-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.fifth-section .content .second .parent button a {
  text-decoration: none;
  color: white;
}
/* ****************** */
.sixth-section .container {
  padding-top: 50px;
}
.sixth-section .container .first {
  text-align: center;
}
.sixth-section .container .first p {
  font-weight: bold;
  color: #1c6758;
}
.sixth-section .container .first h2 span {
  color: var(--main-color);
}
.sixth-section .container .second .parent div {
  padding: 20px 20px;
  text-align: center;
}
.sixth-section .container .second .parent div .image {
  width: 100%;
  height: 300px;
}
.sixth-section .container .second .parent div img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
/* ****************** */
.seventh-section {
  background-color: #1c6758;
  background-image: url(../images/Group-49.webp);
}
.seventh-section .container {
  padding: 100px 0;
  color: white;
}
.seventh-section .container .title {
  width: 80%;
  margin: auto;
  text-align: center;
}
.seventh-section .container .title h2 {
  padding-bottom: 30px;
}
.seventh-section .container .title h2 span {
  color: var(--main-color);
}
.seventh-section .container .title button {
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
}
.seventh-section .container .title button:hover {
  background-color: white;
  transition: 0.5s;
}
.seventh-section .container .title button a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  display: block;
}
.seventh-section .container .title button a:hover {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.5s;
}
/* ****************** */
.footer {
  padding: 100px 0;
}
.footer .container {
  padding-left: 30px;
}
.footer img {
  width: 100px;
  padding-bottom: 20px;
}
.footer h4 {
  color: #1c6758;
  padding-bottom: 20px;
}
.footer p a {
  text-decoration: none;
  color: black;
}
/* ****************** */
.my-name .container {
  padding: 0 0 50px 0;
  font-weight: bold;
}
@media (max-width: 990px) {
  .heading .content .nav .icon {
    display: flex;
  }
  .heading .content .nav .links ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all .5s;
    width: 100%;
    height: 40%;
    left: -100%;
    top: 80px;
    background-color: #0f5346;
  }
}
